.container {
  display: grid;
  grid-template-columns: 20em auto 200px;
  grid-template-rows: 100px auto 100px;
  grid-gap: 1em;
  height: 100vh; }

.header, .footer, .article, .sidebar-left, .sidebar-right {
  background: #ccc;
  padding: 1em; }

.header {
  grid-column: 1/3; }
